# 项目排除路径
/yan-api/yan-api-system/target/
/yan-auth/target/
/yan-common/yan-common-core/target/
/yan-common/yan-common-datascope/target/
/yan-common/yan-common-datasource/target/
/yan-common/yan-common-log/target/
/yan-common/yan-common-redis/target/
/yan-common/yan-common-security/target/
/yan-common/yan-common-swagger/target/
/yan-gateway/target/
/yan-modules/yan-file/target/
/yan-modules/yan-gen/target/
/yan-modules/yan-job/target/
/yan-modules/yan-system/target/
/yan-visual/yan-monitor/target/
/logs/
/.idea/.gitignore
/yan-modules/yan-files/target/classes/banner.txt
/yan-modules/yan-files/target/classes/bootstrap.yml
/.idea/compiler.xml
/.idea/dictionaries
/.idea/easyCodeTableSetting.xml
/.idea/encodings.xml
/yan-modules/yan-files/target/classes/com/yan/files/domain/FileReview.class
/yan-modules/yan-files/target/classes/com/yan/files/controller/FileReviewController.class
/yan-modules/yan-files/target/classes/com/yan/files/mapper/FileReviewMapper.class
/yan-modules/yan-files/target/classes/mapper/files/FileReviewMapper.xml
/yan-modules/yan-files/target/classes/com/yan/files/service/impl/FileReviewServiceImpl.class
/yan-modules/yan-files/target/classes/com/yan/files/service/IFileReviewService.class
/.idea/jarRepositories.xml
/yan-modules/yan-files/target/classes/logback.xml
/.idea/misc.xml
/yan-modules/yan-files/target/classes/com/yan/files/config/RestTemplateConfig.class
/yan-modules/yan-files/target/classes/com/yan/files/utils/StaticGetPrivate.class
/yan-modules/yan-files/target/classes/com/yan/files/config/StaticVariables.class
/.idea/vcs.xml
/yan-modules/yan-files/target/classes/com/yan/files/YanFilesApplication.class
