<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.files.mapper.NavDataMapper">
    
    <resultMap type="NavData" id="NavDataResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="name"    column="name"    />
        <result property="parentName"    column="parent_name"    />
        <result property="enName"    column="en_name"    />
        <result property="icon"    column="icon"    />
        <result property="orderNum"    column="order_num"    />
        <result property="webId"    column="web_id"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />

        <result property="isUrl"    column="is_url"    />
        <result property="brief"    column="brief"    />
        <result property="url"    column="url"    />
        <result property="classification"    column="classification"    />
    </resultMap>

    <sql id="selectNavDataVo">
        select id, parent_id, name, parent_name, en_name, icon, order_num, web_id, status, del_flag, create_by, create_time, update_by, update_time, is_url, brief, url, classification from t_nav_data
    </sql>

    <select id="selectNavDataList" parameterType="NavData" resultMap="NavDataResult">
        <include refid="selectNavDataVo"/>
        <where>  
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentName != null  and parentName != ''"> and parent_name like concat('%', #{parentName}, '%')</if>
            <if test="enName != null  and enName != ''"> and en_name like concat('%', #{enName}, '%')</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="webId != null "> and web_id = #{webId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>

            <if test="isUrl != null  and isUrl != ''"> and is_url = #{isUrl}</if>
            <if test="brief != null  and brief != ''"> and brief = #{brief}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="classification != null  and classification != ''"> and classification = #{classification}</if>
        </where>
        order by order_num asc
    </select>
    
    <select id="selectNavDataById" parameterType="Long" resultMap="NavDataResult">
        <include refid="selectNavDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNavData" parameterType="NavData">
        insert into t_nav_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentName != null">parent_name,</if>
            <if test="enName != null">en_name,</if>
            <if test="icon != null">icon,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="webId != null">web_id,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isUrl != null  and isUrl != ''">  is_url,</if>
            <if test="brief != null  and brief != ''">  brief,</if>

            <if test="url != null  and url != ''">  url,</if>
            <if test="classification != null  and classification != ''">  classification,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentName != null">#{parentName},</if>
            <if test="enName != null">#{enName},</if>
            <if test="icon != null">#{icon},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="webId != null">#{webId},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isUrl != null  and isUrl != ''">  #{isUrl},</if>
            <if test="brief != null  and brief != ''">  #{brief},</if>
            <if test="url != null  and url != ''">  #{url},</if>
            <if test="classification != null  and classification != ''">  #{classification},</if>
         </trim>
    </insert>

    <update id="updateNavData" parameterType="NavData">
        update t_nav_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentName != null">parent_name = #{parentName},</if>
            <if test="enName != null">en_name = #{enName},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="webId != null">web_id = #{webId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isUrl != null  and isUrl != ''">  is_url = #{isUrl},</if>
            <if test="brief != null  and brief != ''">  brief = #{brief},</if>
            <if test="url != null  and url != ''">  url = #{url},</if>
            <if test="classification != null  and classification != ''">  classification = #{classification},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNavDataById" parameterType="Long">
        delete from t_nav_data where id = #{id}
    </delete>

    <delete id="deleteNavDataByIds" parameterType="String">
        delete from t_nav_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>